/*
Contact Page Styles
Color Theme:
  -Primary Color:#E96D1F Orange
  -Seconary Color:#F0AB00 Gold
  -Complement Color:#F3CF45 Yellow
  -Base Color:#0065BD Blue
  -Base Color 2: #AA272F Burgundy
*/
/*==== Contact Page: Map Section ====*/
#map{
  width: 100%;
  height: 400px;
  background-color: #0065BD;
}
.map-box{
  width: 90%;
  height: 400px;
  margin: 0 auto;
}
#map iframe{
  width: 100%;
  height: 100%;
  pointer-events:none;
}
/*==== Contact Page: Contact Form Section ====*/

#contact{
  height: 600px;
  width: 100%;
  background-color:#F0AB00;
  color: #AA272F;
}
#contact h1{
  text-align: center;
  padding: 20px 0;
  font-size: 3em;
}
.contact-content{
  width: 90%;
  margin: 0 auto;
  height: 80%;
}
.form-box{
  width: 75%;
  float: left;
  padding: 0;
}
#contact form{
  width: 75%;
  margin: 0 auto;
}

#contact form input{
  display: block;
  height: 45px;
  width: 100%;
  margin: 10px 0;
  background-color: #F3CF45;
}
.contact-content ::-webkit-input-placeholder{
   color: #0065BD;
   font-size: 1.1em;
}
.contact-content input{
  font-size: 1em;
}

#contact textarea{
  width: 100%;
  height: 150px;
  background-color: #F3CF45;
}
.contact-info{
  width: 25%;
  float: left;
}
.contact-info ul{
  margin: 0;
  padding:0;
  font-size: 1.5em;
}
.contact-info li{
  padding: 2px 0;
}
#contact button{
  width: 150px;
    height: 50px;
    background-color: #0065BD;
    border: 1px solid #313C74 ;
    font-size: 1.2em;
    color: #F3CF45;
    cursor: pointer;
}
