/*
Project: Personal Website
Description: This is our personal site project, it will be posted on GitHub using gh-pages
Color Theme:
  -Primary Color:#E96D1F Orange
  -Seconary Color:#F0AB00 Gold
  -Complement Color:#F3CF45 Yellow
  -Base Color:#0065BD Blue
  -Base Color 2: #AA272F Burgundy
*/
@import url("about.css");
@import url("contact.css");
@import url("stepstolearncode.css");
/*===== Global Styles   ======*/

body, html{
  margin: 0;
  padding: 0;
  font-family: avantegarde, Arial, sans-serif;
}

ul{
   list-style-type: none;
   /*remove bullet points*/
}
a{
  text-decoration: none;
  /*removes hyperlink*/
  color:#0065BD;
}

.container{
  margin-left: 15px;
  margin-right: 15px;
}
h1, h2{
  margin: 0px;
  /*-- Removes built in margin around h tags -->*/
  }

.border{
  border-bottom: 2px solid #AA272F;
  padding: 20px 0px;
}

/*===== Header Styles =====*/
header{
  height: 100px;
  background-color: #E96D1F;
  color:#AA272F;
}

.header a{
  color:#AA272F;
}
.logo{
  width: 30%;
  float: left;
  margin-top: 30px;
}
.logo h1{
  text-align: center;
  margin:0;
  color: #AA272F;
}
.menu{
  width: 30%;
  float: left;
  margin-top:25px;
}
.menu li{
  float:left;
  font-size: 1.5em;
}
.menu li:after{
  padding-right:7px;
  content:" | ";
}
.sm-icons{
  width:30%;
  float: right;
  margin-top:40px;
}
.sm-icons a{
  padding-right:7px;
}
.sm-icons i{
   font-size: 2em;
}
/*=====  Banner Styles  =====*/

#banner{
  height:350px;
  background:url("../img/candlesincense.jpg");
  background-size: cover;
  background-attachment:fixed;

}
.banner-text{
  padding: 0px 0;
}
#banner h1{
    text-align: center;
    padding: 100px 0px;
    font-size: 5em;
    color:#F0AB00;
}
/*===== Begin Skills Section ======*/
#skills{
  background-color: #F0AB00;
  height: 475px;
}
#skills .box{
  width:  25%;
  height: 100%;
  border: 3px solid #0065BD;
  display: inline-block;
  padding:15px 20px;
  margin:30px 2% 10px 2%;
  color: #AA272F ;
}
.skills-icon{
  height:50px;
  width:50px;
  margin:0 auto;
  border:3px solid #AA272F;
  border-radius: 100%;
  background-color:#F3CF45;
}

.skills-icon i{
     font-size: 2em;
     color: ##AA272F;
     margin:9px 11px;
     /*Use Chrome Inspect*/
}
.skills-info h2{
   text-align: center;
   margin-top: 15px;
   color:#0065BD;
   font-weight: bold;
}

.skills-info p{
  text-align: justify;
  line-height: 25px;
  color: #AA272F;

}
/*==== Home Page - About Section  ====*/

#about{
    height: 440px;
        background-color: #F3CF45;
}
#about h2{
  text-align: center;
}
.pic-box{
    width:25%;
    height:auto;
    float: left;
    margin-top: 43px;
}
.pic-box img{
    height: auto;
    width:100%;
    border-radius: 50%;
}
.bio{
    height: 100%;
    width: 60%;
    float: left;
    margin: 50px 0px 0px 75px;
    border: 1px solid #F3CF45;
    padding: 15px 20px;
    border-radius: 5px;
    color: #AA272F ;
}
.site-box{
  width:  47%;
  height: 10%;
  float: left;
  text-align: center;
}
.voterreg h3{
  color:#0065BD;
}
#about h1{
    text-align: center;
    margin: 0;
}
#about p{
    text-align: justify;
}
/*===== Start Footer Section =====*/
footer{
    height: 100px;
    background-color:#E96D1F;
    color: #AA272F;
    margin: 0;
    padding: 40px 20px;
    clear: both;
}
.copyright{
    text-align: center;
}
footer p{
    margin: 0;
}
.soc-icons{
    width: 400px;
    margin: 20px auto;

}
footer .icon{
    display: inline-block;
    margin-right: 5px;
    background-color:#0065BD;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon a{
    color: #F3CF45;
}
.icon i{
    font-size: 2em;
    padding-top: 9px;
}
/*==== About Page ====*/









/*===== Contact Page =====*/
